.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--primary-bg-color);
  border: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__menu-button {
  margin-top: 10px;
}

.menu-container__menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.hero__button {
  @extend %button;
  margin: 0 auto;
}

.mailing-form__button {
  @extend %button;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  @media screen and (min-width: 1200px) {
    margin-top: 47px;
  }
}

.button__icon--end {
  margin-left: 10px;
  fill: #fff;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  box-shadow: none;
  background-color: var(--primary-bg-color);
}

.service-form__button {
  @extend %button;
  margin: 0 auto;
}

.portfolio__button {
  @extend %button;
  color: var(--primary-text-color);
  background-color: var(--second-bg-color);
  box-shadow: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  width: auto;
  height: auto;
  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-logo-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
