.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.container--footer {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.container--header {
  display: flex;
  justify-content: space-between;
}

.container--hero {
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;

  @media screen and (min-width: 768px) {
    padding: 0 204px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 252px;
  }
}
