.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  padding: 25px 0px;
  font-size: 24px;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.logo-navigation__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo--white {
  color: var(--primary-bg-color);
  padding: 0;
}

.logo__accent {
  color: var(--accent-logo-color);
}
