body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'arial', 'helvetica', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
