:root {
  --logo-color: #000000;
  --accent-logo-color: #2196f3;
  --ft-color: #2f303a;
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --tertiary-text-color: rgba(255, 255, 255, 0.6);
  --link-color: #afb1b8;
}
