:root {
  --primary-logo-color: #000000;
  --second-logo-color: #ffffff;
  --accent-logo-color: #2196f3;

  --second-bg-color: #f5f4fa;

  --primary-text-color: #212121;
  --second-text-color: #757575;
  --tertiary-text-color: rgba(255, 255, 255, 0.6);
  --link-color: #afb1b8;
}
