.footer {
  background-color: var(--ft-color);
  padding: 60px 0;
}

.logo-extended-contacts-social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.logo-extended-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 94px;
  }
}

.address {
  font-style: inherit;
  margin-top: 30px;
}

.address__list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 10px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-logo-color);
  }
}

.address__link--white {
  color: var(--primary-bg-color);
}

.social {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bg-color);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 12px;
  }
}

/* ---------Mailing form---------- */

.mailing-form {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.mailing-form__label {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
  }
}

.mailing-form__call {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bg-color);
  // @media screen and (max-width: 767px) {
  //   text-align: center;
  // }
}

.mailing-form__input {
  padding-left: 15px;

  width: 360px;
  height: 50px;

  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: var(--tertiary-text-color);
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}
