.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #ffffff;

  transform: translateX(100%);
  transition: transform 400ms ease-in;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-navigation-list {
  margin-top: 48px;
  margin-left: 40px;
}

.menu-navigation-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-navigation-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-logo-color);
  }
}

.menu-contacts-social {
  margin-left: 40px;
  margin-bottom: 48px;
}

.menu-contacts-list {
  margin-bottom: 64px;
}

.menu-contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts-list__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--accent-logo-color);
}

.menu-contacts-list__link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-social-list__item {
  padding-right: 10px;
  padding-left: 10px;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-social-list__item:nth-child(1) {
  padding-left: 0;
}

.menu-social-list__item:nth-child(4) {
  padding-right: 0;
}

.menu-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-logo-color);
}
