.portfolio {
  padding-top: 90px;
  padding-bottom: 114px;
}

/* ----------Button List------------ */

.buttons-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.buttons-list__item:not(:last-child) {
  margin-right: 10px;
}

.buttons-list__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

/* -----------Work List-------- */

.work-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.work-list {
  @media screen and (min-width: 768px) {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.work-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.work-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .work-link__overlay {
    transform: translateY(0);
  }
}

.work-link__box {
  position: relative;
  overflow: hidden;
}

.work-link__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link__text {
  padding: 63px 24px;
  color: var(--second-logo-color);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.work-link__card {
  padding: 20px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-link__title {
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 5px;
}

.work-link__desk {
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
