.principles {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 95px 0;
  }
}

.principles-list {
  @media screen and (min-width: 768px) {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.principles-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.principles-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.principle-card__image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;

  border-radius: 4px;
  background-color: var(--second-bg-color);
  margin-bottom: 30px;
}

.principle-card__title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.principle-card__desk {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
